<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.police.vision.control.mapper.AggregationAlertMapper">

    <select id="selectByAlertId" resultType="com.police.vision.control.entity.AggregationAlert">
        SELECT * FROM aggregation_alert WHERE alert_id = #{alertId} AND deleted = 0 LIMIT 1
    </select>

    <select id="selectByStatus" resultType="com.police.vision.control.entity.AggregationAlert">
        SELECT * FROM aggregation_alert WHERE status = #{status} AND deleted = 0 ORDER BY alert_time DESC
    </select>

    <select id="selectByAreaCode" resultType="com.police.vision.control.entity.AggregationAlert">
        SELECT * FROM aggregation_alert WHERE area_code = #{areaCode} AND deleted = 0 ORDER BY alert_time DESC
    </select>

    <select id="selectByTimeRange" resultType="com.police.vision.control.entity.AggregationAlert">
        SELECT 
            id, alert_id, alert_no, area_code, area_name, center_longitude, center_latitude,
            person_count, person_count AS total_person_count, person_ids, person_names,
            target_person_count, target_person_ids, target_person_names, alert_level,
            start_time, end_time, duration_seconds, camera_ids, snapshot_urls,
            status, status_name, description, handle_remark, handle_officer_id,
            handle_time, police_station_code, police_station_name, create_time, update_time
        FROM aggregation_alert
        WHERE start_time BETWEEN #{start} AND #{end}
          AND deleted = 0
          <if test="status != null">
              AND status = #{status}
          </if>
        ORDER BY start_time DESC
    </select>

</mapper>
