<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.police.vision.control.mapper.intelligence.CrawlerTaskMapper">

    <select id="selectEnabledTasks" resultType="com.police.vision.control.entity.intelligence.CrawlerTask">
        SELECT *
        FROM crawler_task
        WHERE enabled = 1
          AND deleted = 0
        ORDER BY id ASC
    </select>

</mapper>
