<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.police.vision.control.mapper.intelligence.PublicOpinionMapper">

    <delete id="cleanOldOpinions">
        DELETE FROM public_opinion
        WHERE publish_time < DATE_SUB(NOW(), INTERVAL #{days} DAY)
          AND deleted = 0
        LIMIT #{limit}
    </delete>

</mapper>
